*{
  margin: 0%;
}
.back {
    background: #176b87;;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0%;
    padding: 0%;
  }
  
  .div-center {
    width: 550px;
    height: 500px;
    background-color:white;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
  }
  .Lname{
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  .fname{
    display: flex;
    color: red;
  }
  .lname{
    color: green;
    /* padding-right: 20%; */
  }
  div.content {
    display:table-cell;
    vertical-align: middle;
    /* justify-content: right; */
  }
  input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e6eff1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #9fabae;
    outline: none;
  }
  input[type=email], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e6eff1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #9fabae;
    outline: none;
  }
  button{
    background-color: #008cba;
    width: 85%;
    border: none;
    color: white;
    padding: 10px 20px ;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  /* .login button{
    width: 75%;
    height: 50%;
    background-color:#3c7dd2;;
    font-size: 20px;
    text-decoration-color: white;
  } */
  .mid{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content:right; */
    align-items: center;
    
    padding-bottom: 15px;
  }
  
  .div-center img{
border-radius: 50%;
height: 100px;
  width: 150px;
    object-fit: contain;
   
    
  }
 #res{
  padding-left: 25%;
  font-size: 15px;
  color: #008cba;
 }
 a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}